<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS.AspNet" version="11.13.1" targetFramework="net471" />
  <package id="EPiServer.CMS.Core" version="11.13.1" targetFramework="net471" />
  <package id="EPiServer.Framework" version="11.13.1" targetFramework="net471" />
  <package id="EPiServer.Framework.AspNet" version="11.13.1" targetFramework="net471" />
  <package id="JavaScriptEngineSwitcher.V8" version="3.10.0" targetFramework="net471" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x64" version="3.10.0" targetFramework="net471" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x86" version="3.10.0" targetFramework="net471" />
  <package id="Microsoft.ClearScript.Core" version="7.1.0" targetFramework="net471" />
  <package id="Microsoft.ClearScript.V8" version="7.1.0" targetFramework="net471" />
  <package id="Microsoft.ClearScript.V8.Native.win-x64" version="7.1.0" targetFramework="net471" />
  <package id="Microsoft.ClearScript.V8.Native.win-x86" version="7.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net471" />
  <package id="EPiServer.CMS" version="11.11.3" targetFramework="net471" />
  <package id="EPiServer.CMS.TinyMce" version="2.8.0" targetFramework="net471" />
  <package id="EPiServer.CMS.UI" version="11.19.1" targetFramework="net471" />
  <package id="EPiServer.CMS.UI.Core" version="11.19.1" targetFramework="net471" />
  <package id="EPiServer.Logging.Log4Net" version="2.2.2" targetFramework="net471" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="2.0.1" targetFramework="net471" />
  <package id="Forte.EpiResponsivePicture" version="0.0.28806" targetFramework="net471" />
  <package id="ImagePointEditor" version="1.0.0" targetFramework="net471" />
  <package id="ImageResizer" version="4.0.1" targetFramework="net471" />
  <package id="ImageResizer.Plugins.EPiServerBlobReader" version="7.0.0" targetFramework="net471" />
  <package id="ImageResizer.WebConfig" version="4.0.1" targetFramework="net471" />
  <package id="JSPool" version="4.0.0" targetFramework="net471" />
  <package id="JavaScriptEngineSwitcher.Core" version="3.3.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="React.Core" version="5.2.11" targetFramework="net471" />
  <package id="React.Web" version="5.2.11" targetFramework="net471" />
  <package id="React.Web.Mvc4" version="5.2.11" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="StructureMap" version="4.5.2" targetFramework="net471" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.4.2" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.4.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net471" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>